---
name: build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.x
      - name: Set up dot
        run: sudo apt-get install -y graphviz
      - name: Set up translate toolkit
        run: sudo aptitude install translate-toolkit
      - name: Allow script execution
        run: sudo chmod +x generate-en.sh
      - name: Generate English adocs
        run: ./generate-en.sh
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: Make output directory
        run: mkdir -p output
      - name: Build with Maven
        run: mvn verify
      - name: Copy slides
        run: for file in slides??; do cp -r "$file/target/generated-slides" "output/$file"; done 
      - name: Copy plan
        run: cp -r "plan/target/generated-docs" "output/plan"
      - name: Deploy to GitHub Pages
        if: success() && github.ref == 'refs/heads/master'
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
